<div class="content-box"><!-- Start Content Box -->
	
	<div class="content-box-header">
		<h3>Latest Domains</h3>
		<div class="clear"></div>
	</div> <!-- End .content-box-header -->
	
	<div class="content-box-content">	
		<div class="tab-content default-tab" id="tab1" style="display: block; "> <!-- This is the target div. id must match the href of this div's tab -->
			<% if flash? %>
				<div class="notification attention png_bg">
					<a href="#" class="close"><%= image_tag "cross_grey_small.png" %></a>
					<div>
						<%= flash_notifier %>
					</div>
				</div>
			<% end %>
			
			<table>	
				<thead>
					<tr>
					   <th><input class="check-all" type="checkbox" /></th>
					   <th>Domain</th>
					   <th>Last Feedback</th>
					   <th>Tags</th>
					   <th>Last Modified</th>
					   <th>Status Code</th>
					   <th>Action</th>	
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="6">
							<div class="bulk-actions align-left">
								<select name="dropdown">
									<option value="option1">Choose an action...</option>
									<option value="option2">Edit</option>
									<option value="option3">Delete</option>
								</select>
								<a class="button" href="#">Apply to selected</a>
							</div>
							<%= paginate @domains %>
							<div class="pagination">
								
								<a href="#" title="First Page">&laquo; First</a><a href="#" title="Previous Page">&laquo; Previous</a>
								<a href="#" class="number" title="1">1</a>
								<a href="#" class="number" title="2">2</a>
								<a href="#" class="number current" title="3">3</a>
								<a href="#" class="number" title="4">4</a>
								<a href="#" title="Next Page">Next &raquo;</a><a href="#" title="Last Page">Last &raquo;</a>
							</div> <!-- End .pagination -->
							<div class="clear"></div>
						</td>
					</tr>
				</tfoot>
				<tbody>
				<% for domain in @domains %>
					<tr class="<%= cycle("alt-row", "") %>">
						<td><input type="checkbox" /></td>
						<td><%= truncate domain.title, :length => 40 %></td>
						<td><a href="#" title="title">No feedback</a></td>
						<td><%= domain.tags.limit(3).map{|tag| truncate(tag.name, :length => 15, :separator => ' ')}.join(", ") %></td>
						<td><%= time_ago_in_words domain.updated_at unless domain.updated_at.nil? %></td>
						<td>
							<%= domain.code %>
						</td>
						<td>
							<!-- Icons -->
							<%= link_to image_tag("pencil.png"), edit_admin_domain_path(domain) %>
							<%= link_to image_tag("cross.png"), admin_domain_path(domain), :method => :delete %>
						</td>

					</tr>
					<% end %>
				</tbody>
			</table>
		</div> <!-- End #tab1 -->
	</div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->