<%= errors(@domain)%>
<div>
	<%= form.label :url %><br />
	<%= form.text_field :url %>
</div>

<div>
	<%= form.label :mobile_url %><br />
	<%= form.text_field :mobile_url %>
</div>


<div>
  <%= form.label :tag_names %><br />
  <%= form.text_field :tag_names %>
</div>

<div>
	<%= form.label :favicon_path %><br />
	<%= form.text_field :favicon_path %>
</div>

<div>
	<%= image_tag "search_btn.jpg", :id => :favicon_preview %>
</div>