<%= errors(@domain)%>
<div>
	<%= form.label :name %><br />
	<%= form.text_field :name %>
</div>
<div>
	<%= form.label :sub_name %><br />
	<%= form.text_field :sub_name %>
</div>

<div>
	<%= form.label :top_level %><br />
	<%= form.text_field :top_level %>
</div>
