<%= errors(@domain)%>
<div>
	<%= form.label :url %><br />
	<%= form.text_field :url %>
</div>

<div>
	<%= form.label :mobile_url %><br />
	<%= form.text_field :mobile_url %>
</div>


<p>
  <%= form.label :tag_names %><br />
  <%= form.text_field :tag_names %>
</p>