<% for domain in @domains %>
	<div class="domain">
		<div id="favicon"><%= image_tag domain.url + "/favicon.ico", :class => :favicon %></div>
		<div id="domainInformation">
			<div id="title">
				<%= domain.title %>
			</div>
			<div id="description">
				<%= domain.description %>
			</div>
		</div>
	</div>
	<% if admin? %>
		<%= link_to "Edit", edit_domain_path(domain) %>
		<%= link_to "Delete", domain_path(domain), :method => :delete %>
		Data was updated <%= time_ago_in_words(domain.data_recived_on) unless domain.data_recived_on.nil? %>
	<% end %>
<% end %>
