
<div id="border">
	<%= form_tag domains_path, :method => :get do %>
		<div id="searchInputWraper">
			<div id="wrap_search">
				<div id="capLeft"><%= image_tag "mobile_inner_left.png" %></div>
				<div><%= text_field_tag :search, params[:search], :id => :search %></div>
				<div id="capRight"><%= image_tag "mobile_inner_right.png" %></div>
			</div>
		</div>
		<%= submit_tag "", :id => :searchButton %>
	<% end %>
</div>
			
