<% if admin? %>
	<div id="subNavi">
		<%= link_to "New Domain", new_domain_path %>
		<%= link_to "Update All", update_all_domains_path, :confirm => "If you click this it could take a lot of time to run. Are you sure."%>
	</div>
<% end %>
<%= render "search" %>
<div id="information">
	<div class="tags">
		<h1>Tags</h1>
		<%= render "taggings/index" %>
	</div>
	<div class="domains">
		<%= render "index" %>
	</div>
</div>