<div id="information">
	<h1><%= @domain.title %></h1>
	<p><%= @domain.description %></p>
	<p>Tags: <%= @domain.tags.map{|tag| tag.name}.join(", ") %></p>
	<div><%= link_to @domain.url, @domain.url, :target => :blank %></div>
	<div><%= link_to @domain.mobile_url, @domain.mobile_url, :target => :blank %></div>
	<%= content_tag :iframe, "Iframe don't work on your browser", :src => get_data_domain_path(@domain), :class => :domainIframe %>
	
</div>
