
<div id="login-content">
	<%= form_for @user_session, :url => user_sessions_path do |f| %>
		<% if flash? %>
			<div class="notification information png_bg">
				<div>
					<%= flash_notifier %>
				</div>
			</div>
		<% end %>
		<p>
			<%= f.label(:email, "Email", :hide_errors => true) %>
			<%= f.text_field :email, :class => "text-input", :id => :username, :placeholder => "Email", :required => true %>
			<!-- <input id="username" type="text" placeholder="Username" autofocus="" required=""> -->
		</p>
		<div class="clear"></div>
		<p>
			<%= f.label(:password, "password", :hide_errors => true) %>
			<%= f.password_field :password, :class => "text-input",:placeholder => "password",  :required => true %>
		</p>
		<div class="clear"></div>
		<p id="remember-password" style="font-size: 12px;">
	  		<%= f.check_box :remember_me %> remember me
		</p>
		<div class="clear"></div>
		<p>
			<%= f.submit "Sign Up", :class => :button %>
		</p>
	<% end %>
	
</div> <!-- End #login-content -->