<!DOCTYPE html>
<html>
<head>
	<title>MobDex</title>
	<%= stylesheet_link_tag "back/application" %>
	
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="body-wrapper">
		<div id="sidebar">
			<div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->

				<h1 id="sidebar-title"><a href="#">Simpla Admin</a></h1>

			<!-- Logo (221px wide) -->
			<%= link_to image_tag("logo.png", :id => :logo) %>

			<!-- Sidebar Profile links -->
			<div id="profile-links">
				Hello, <%= link_to current_user.full_name %>, you have no messages<br>
				<br>
				<%= link_to "View the Site", root_path %> | <%= link_to "Sign Out", logout_path %>
			</div>    

			<ul id="main-nav">  <!-- Accordion Menu -->

				<li>
					<%= link_to "Dashboard", "#", :class => "nav-top-item no-submenu", :style => "padding-right: 15px;" %>
				</li>
				
				<li> 
					<%= link_to "Users", users_path, :class => ["nav-top-item", current_view(params, :controller => :users, :result => :current)], :style => "padding-right: 15px;" %>
					<ul style="display: block; ">
						<li><%= link_to "Users List", users_path, :class => current_view(params, :controller => :users, :action => :index, :result => :current) %></li>
						<li><%= link_to "New User", new_user_path, :class => current_view(params, :controller => :users, :action => :new, :result => :current)%></li>
					</ul>
				</li>

				<li> 
					<%= link_to "Single Domains", domains_path, :class => ["nav-top-item", current_view(params, :controller => [:admin_domains, :feedbacks], :result => :current)], :style => "padding-right: 15px;" %>
					<ul style="display: block; ">
						<li><%= link_to "Add a Domain", new_admin_domain_path, :class => current_view(params, :controller => :admin_domains, :action => :new, :result => :current) %></li>
						<li><%= link_to "Edit a Domain", admin_domains_path, :class => current_view(params, :controller => :admin_domains, :action => :index, :result => :current)%></li>
						<li><%= link_to "Update All Domains", update_all_admin_domains_path, :confirm => "Are you sure?"%></li>
					</ul>
				</li>

				<li>
					<%= link_to "Bulk Domains", new_mass_domain_path, :class => ["nav-top-item", current_view(params, :controller => :mass_domains, :result => :current)] %>
					<ul style="display: none; ">
						<li><%= link_to "Add Domains", new_mass_domain_path, :class => current_view(params, :controller => :mass_domains, :action => :new, :result => :current) %>
						<li><%= link_to "Domains List", mass_domains_path, :class => current_view(params, :controller => :mass_domains, :action => :index, :result => :current) %>
						 <!-- Add class "current" to sub menu items also -->
						<!-- <li><a href="remove_bulk.html">Remove multiple Domains</a></li> -->
					</ul>
				</li>

				<li>
					<%= link_to "Feedback", "#", :class => ["nav-top-item", current_view(params, :controller => :feedbacks, :result => :current)], :style => "padding-right: 15px;" %>
					<ul style="display: none; ">
						<% if @domain && current_view(params, :controller => :feedbacks )%>
							<li>
								<%= link_to "Create Feedback", new_admin_domain_feedback_path(@domain), :class => current_view(params, :controller => :feedbacks, :action => :new, :result => :current) %>
							</li>
							<li>
								<%= link_to "Feedbacks", admin_domain_feedbacks_path(@domain) %>
							</li>
						<% end %>
						
						<!-- <li><a href="open_feedback.html">View Open Feedback (#)</a></li>
						<li><a href="closed_feedback.html">View Closed Feedback</a></li> -->
					</ul>
				</li>


			</ul> <!-- End #main-nav -->

			<div id="messages" style="display: none"> <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->

				<h3>3 Messages</h3>

				<p>
					<strong>17th May 2009</strong> by Admin<br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
					<small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
				</p>

				<p>
					<strong>2nd May 2009</strong> by Jane Doe<br>
					Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
					<small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
				</p>

				<p>
					<strong>25th April 2009</strong> by Admin<br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
					<small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
				</p>

				<form action="#" method="post">

					<h4>New Message</h4>

					<fieldset>
						<textarea class="textarea" name="textfield" cols="79" rows="5"></textarea>
					</fieldset>

					<fieldset>

						<select name="dropdown" class="small-input">
							<option value="option1">Send to...</option>
							<option value="option2">Everyone</option>
							<option value="option3">Admin</option>
							<option value="option4">Jane Doe</option>
						</select>

						<input class="button" type="submit" value="Send">

					</fieldset>
				</form>
			</div> <!-- End #messages -->
		</div>
	</div>
	<div id="main-content">
		<%= yield %>
	</div>
</body>
</html>