<!DOCTYPE html>
<html>
<head>
	<title>MobDex</title>
	<%= stylesheet_link_tag "front/application" %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= csrf_meta_tags %>
</head>
<body style="height:100%">
	<%= render "layouts/facebook_shit" %>
	<%#= render "layouts/application_navi" %>
	<div class="container">
		
		<header class="row">
    		<div class="span4 offset4">
    			<h1 class="logo">Pew2</h1>
				<h5>MOBILE SEARCH MADE EASY.</h5>
				<%= yield :sublogo %>
    		</div>    		
    	</header>
		<%= yield %>
	</div>
	<%= render "layouts/google_analytics"%>
	<%= javascript_include_tag "application" %>
</body>
</html>