<!DOCTYPE html>
<html>
<head>
  <title>MobDex</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="content">
		<div id="flashNotifier">
			<%= flash_notifier %>
		</div>
		<div id="header">
			<h1>Mobdex Development Branch</h1>
		</div>
		<%= yield %>
	</div>
</body>
</html>